<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页|欢迎页</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<h1>标题</h1>
<p>一些介绍</p>
<form id="form" enctype="multipart/form-data">
    <input type="radio" name="arg_d" value="Bwd" checked><span class="radioLabel">Bwd</span>
    <input type="radio" name="arg_d" value="Fwd"><span class="radioLabel">Fwd</span>
    <input type="radio" name="arg_d" value="Both"><span class="radioLabel">Both</span>
    <br />
    <input type="radio" name="arg_m" value="Symbolic" checked><span class="radioLabel">Symbolic</span>
    <input type="radio" name="arg_m" value="Weiser"><span class="radioLabel">Weiser</span>
    <input type="radio" name="arg_m" value="SDG"><span class="radioLabel">SDG</span>
    <input type="radio" name="arg_m" value="IFDS"><span class="radioLabel">IFDS</span>
    <input type="file" id="file" name="sourcecode">

</form>
<button id="btnSubmit">提交</button>
<button id="btnSynChk">Check Syntax</button>
<div id="stdout"></div>
<script>
    $('#btnSubmit').click(function () {
        var data = new FormData();
        jQuery.each(jQuery('#file')[0].files, function (i, file) {
            data.append('file-' + i, file);
        });
        data.append('arg_d', $("input[name='arg_d']:checked").val());
        data.append('arg_m', $("input[name='arg_m']:checked").val());
        $.ajax({
            url: '{:url("Api/Phpapi/LLVMSlice")}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                console.log(data);
                if (data.code == 0) {
                    $('#stdout').html('<pre>' + data.data + '</pre>');
                } else {
                    alert('error');
                }
            }
        });
    });

    $('#btnSynChk').click(function () {
        var data = new FormData();
        jQuery.each(jQuery('#file')[0].files, function (i, file) {
            data.append('file-' + i, file);
        });
        $.ajax({
            url: '{:url("Api/Phpapi/CheckSyntax")}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                console.log(data);
                if (data.status === true) {
                    $('#stdout').html('<pre>' + data.message + '</pre>');
                } else {
                    alert('error');
                }
            }
        });
    });
</script>
</body>

</html>